<style>
        *{
            margin:0px
         }
        .body{
            display:flex;
            font-size:1.2rem;
        }
         .information{
            border: 1px solid black;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;
           flex-direction:row
             margin: 0px 0px 0px 120px;
        }
    .users, .products,  .purchases,  .spent {
        border:1px solid black;
        border-radius:8px;
    }
    </style>

<div class="body">
        <div class="information">
            <div class="users">
                Total Users
                 {% for x in user %}
                    {{x}}
                {% endfor %}
            </div>
            <div class="products">
                Total Products
                {% if product %}
                    {{product}}
                {% endif %}
            </div>
            <div class="purchases">
                Total Purchases
                {% for x in totalcount %}
                    {{x}}
                {% endfor %}
            </div>
            <div class="spent">
                Total MoneySpent
                    {% if price %}
                        {{price}}
                    {% endif %}
            </div>
        </div>
    </div>