<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>
</head>
<body>
{% if result %}


{% include 'admin/adminsidebar.html' %}
    {% for category in result %}
        <div class="categories">

            <div class="category">
                <button>{{category.Categories}}</button>
                 <form action="editcategory" method="post">
                                <input type="hidden" name="productname" value="{{category.Categories}}">
                                <input type="hidden" name="productid" value="{{category.id}}">
                                <button type="submit" class="edit"><i class="fa-solid fa-pen"></i></button>
                 </form>
                <form action="deletecategory" method="post">
                                <input type="hidden" name="productname" value="{{category.Categories}}">
                                <input type="hidden" name="productid" value="{{category.id}}">
                                <button type="submit" class="delete"> <i class="fa-solid fa-trash"></i></button>
                </form>

            </div>
        </div>

    {% endfor %}

{% endif %}

</body>
</html>