<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .cart-item{
            display:flex;
        }


    </style>
</head>
<body>
    {% include 'header.html' %}
    {% if not cartdata %}
        <div class="empty" style="margin-left:40%">
            <h5>Cart is empty</h5>
        </div>
    {% else %}
    {% for value in cartdata %}
        <div class="cart-item">
            <div class="cart-img">
                <img src="{{ value.image }}" alt="{{ value.pname }}" height="300px" width="300px">
            </div>
            <div class="product-details">
                <p><strong>ID:</strong> {{ value.pid }}</p>
                <p><strong>Name:</strong> {{ value.pname }}</p>
                <p><strong>Price:</strong> {{ value.price }}</p>
            </div>
        </div>

         <form action="/checkout" method="post">
            <input type="hidden" name="pid" value="{{ value.pid }}">
            <input type="hidden" name="pname" value="{{ value.pname }}">
            <input type="hidden" name="price" value="{{ value.price }}">
            <input type="hidden" name="quantity" value="{{ value.quantity }}" id="hidden-quantity-{{ value.pid }}">
            <input type="hidden" name="image" value="{{ value.image }}" >
            <strong>Quantity:</strong>
            <input type="number" name="number" value="{{ value.quantity }}" min="1" onchange="updateHiddenQuantity(this, '{{ value.pid }}')">
            <button type="submit">Checkout</button>
        </form>

        <form action="/removeItem" method="post">
            <input type="hidden" value="{{ value.pid }}" id="pid" name="pid">
            <button type="submit">Remove Item</button>
        </form>


        {% endfor %}
    {% endif %}


    {% include 'footer.html' %}
</body>
<script>
  function updateHiddenQuantity(inputField, pid) {

    const hiddenQuantityInput = document.querySelector(`#hidden-quantity-${pid}`);

    if (hiddenQuantityInput) {
        hiddenQuantityInput.value = inputField.value;
    } else {
        console.error(`Hidden input for PID ${pid} not found.`);
    }
}

</script>
</html>