<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .cart-item{
            display:flex;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}

{% for value in cartdata %}

        {{value.pid}}
        {{value.pname}}
        {{value.image}}
        {{value.price}}
     <form action="/removeItem" method="post">
                    <input type="hidden" value="{{ value.pid }}" id="pid" name="pid">
                    <button type="submit">Remove Item</button>
                </form>
         <form action="/checkout" method = "post">
                    <input type="hidden" name="pid" value="{{value.pid}}">
                    <input type="hidden" name="name" value="{{value.pname}}">
                    <input type="hidden" name="price" value="{{value.price}}">
                    <button type="submit">Checkout</button>
                </form>
        {% endfor %}


</body>
</html>