<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="showinfo" method="Post">
            <button type="submit"  name="category" value="all">All</button>
            <button type="submit"  name="category" value="personal">Personal</button>
            <button type="submit"  name="category" value="beauty">Beauty</button>
            <button type="submit"  name="category" value="care">Care</button>
        </form>

    </div>
</body>
</html>