<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .categories{
            display:flex;
        }
        .showinfo{
             display: flex;
             flex-wrap:wrap;
             justify-content: space-evenly;
        }
        li{
            margin-top:10px;
        }
        .products{
            display:flex;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    {% if messages %}
<h1 id="messages" style="color:red; margin-left:15%; margin-bottom:10px;" >{{messages}}</h1>
{% endif %}
    <div class="categories">

    <div class="buttons">
        <form action="showinfo" method="Post">
            <ul style="list-style-type:none;">
                <li>
                    <button type="submit"  name="category" value="all">All</button>
                </li>
                <li>
                    <button type="submit"  name="category" value="personal">Personal</button>
                </li>
                <li>
                    <button type="submit"  name="category" value="beauty">Beauty</button>
                </li>
                <li>
                    <button type="submit"  name="category" value="care">Care</button>
                </li>
                <li>
                    <button type="submit"  name="category" value="premium">Premium</button>
                </li>
            </ul>

        </form>
    </div>
    <div class="showinfo">
        {% if products %}
            {% for product in products %}
        <div class="products" style="height:300px; width:400px;margin-bottom:300px;">
            <div>
                <img src="{{product['imageurl'].split('|')[0].strip()}}" alt="{{ product['name'] }}" height="200px" width="200px">
            </div>
            <div>
                <h3>{{ product['productname'] }}</h3>
                <p>Rating: {{ product['rating'] }}</p>
                <p>Category: {{ product['category'] }}</p>
                <p>Price: {{ product['price'] }}</p>
                <form action="/cart" method="post">
                    <button type="submit">Add to Cart</button>
                    <a href="{{ url_for('product_detail', pid=product['productId']) }}" class="btn btn-primary">View Details</a>
                </form>
            </div>

        </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
</body>
</html>