<style>
    *{
        margin:0;
        padding:0;
    }
    .footer{
        background-color:#424242;
        color:#F8F8F8;

        margin-top:30px;

    }
    .elements{

        display:flex;
       flex-wrap:wrap;
       justify-content:space-evenly;

    }
    .about, .links, .contact{
        margin-top:4vh;
    }
    .about{
        width:300px;
    }
    .links li{
        list-style-type:none;
    }
    .links a{
        text-decoration:none;
        color:white;
    }
    .contact li{
        list-style-type:none;
    }
    .rights{
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:20px;
        padding-bottom:20px;
    }
    .line{
        width:75%;
        height:3px;
        background-color:white;
        margin-inline:auto;
    }

</style>


<footer class="footer">
    <div class="elements">
        <div class="about">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolor fugit illum labore maiores natus rem unde! Cum dicta fugit odit quaerat reiciendis. Cumque eveniet, laboriosam porro provident quod ullam!</p>
        </div>
        <div class="links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <ul>
                <li>Banasthali, Kathmandu, Nepal</li>
                <li>Phone: +977 9898989898</li>
                <li>Email: cr7sudhan@gmail.com</li>
            </ul>
        </div>
    </div>
    <div style="margin-top:5vh;">
       <div class="line">

       </div>
    </div>
    <div class="rights">
            <p>© Mero Pasal. All Rights Reserved.</p>
        </div>
</footer>

